---
BasedOnStyle: Chromium
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: 'false'
AlignConsecutiveAssignments: 'false'
AlignConsecutiveDeclarations: 'false'
AlignEscapedNewlines: DontAlign
AlignOperands: 'false'
AlignTrailingComments: 'false'
AllowAllArgumentsOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
BinPackArguments: 'false'
BinPackParameters: 'false'
Cpp11BracedListStyle: 'true'
PointerAlignment: Left
ReflowComments: 'false'
SortIncludes: 'false'
TabWidth: '2'
UseTab: ForContinuationAndIndentation

...
